.canvas {
  border: 2px black solid;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#canvas-real{
  background-color: white;
}

.button-group i{
  margin: 1rem;
  color:white;
}


#setColor{
  padding: 0px;
  max-width: 33px;
  max-height: 33px;
  outline: none;
  margin: 1rem;
  border: none;
  background: none;
}

#setOption, #setPx, #setText{
  max-height: 2rem;
  max-width: 4rem;
  border: 1px solid white;
  background: none;
  padding: 0;
  margin: 1rem;
}
